* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a, a:active, a:focus, a:hover { text-decoration: none; }

body { 
	background-color: #0D47A1; 
	font-family: $font-family-body; 
	color: white; 
	font-size: $font-size-body;
	min-height: 100%;
}

h1 { 
	font-family: 'Georgia', serif; 
	font-weight: bold;
	margin-bottom: 40px; 
	margin-top: 0; 
	font-size: $base-font-unit * 4;
}

#content_wrap { padding: 0 0 0 $base-unit * 2; }

.row > * { 
	margin: 0; 
	width: initial;
	padding: 0;
}