<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-controller="ctrl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <title>Countries &amp; Capitals</title>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Montserrat:400,700:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); 
    </script>
    <!--<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />-->
    <link rel="stylesheet" href="files/style.css">
  </head>
  <body>
    <div class="page_wrap">
      <div class="background_wrap"></div>
      <div class="content_wrap">
        <header>
          <span id="heading">Countries &amp; Capitals</span>
        </header>
        <section>
          <div ng-view class="view_wrap view-animation"></div>
        </section>
        <footer>
          <p>&copy;2016 <a href="http://www.meinnovation.net" target="_blank">ME Innovation</a></p>
        </footer>
      </div> <!-- end of content wrap -->
    </div><!-- end of page wrap -->
    <script src="files/angular.min.js"></script>
    <script src="files/angular-animate.min.js"></script>
    <script src="files/angular-route.min.js"></script>
    <script src="files/app.js"></script>
    <script type="text/ng-template" id="home.html">
      <div class="intro_wrap">
        <p class="intro">Welcome to the Countries &amp; Capitals App! Here you can learn more about each one and pull data from geonames.com. Click the button below to get started.</p>
        <div class="button_wrap">
          <a href="#/list"><button ng-click="list()">Browse Countries</button></a>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="countries.html">
      <div class="country_wrap" ng-controller="ctrl">
        <div class="country_data_wrap">
          <div class="country">
            <table ng-show="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Country Code</th>
                  <th class="hide">Capital</th>
                  <th class="hide">Area in km<sup>2</sup></th>
                  <th class="hide">Population</th>
                  <th class="hide">Continent</th>
                </tr>
              </thead>
                <div>{{ country_data.countryName }}</div>
                <tbody>
                  <tr ng-repeat="item in country_list" >
                    <td><a href="#/{{ item.countryCode }}/capital">{{ item.countryName }}</a></td>
                    <td>{{ item.countryCode }}</td>
                    <td class="hide">{{ item.capital }}</td>
                    <td class="hide">{{ item.areaInSqKm }}</td>
                    <td class="hide">{{ item.population }}</td>
                    <td class="hide">{{ item.continent }}</td>
                  </tr>
                </tbody>
              </table>
            <div class="button_wrap"><a href="#/home"><button>Home</button></a></div>
          </div> <!-- end of country -->
        </div> <!-- end of country_data_wrap -->
      </div> <!-- end of country_wrap -->
    </script>
    <script type="text/ng-template" id="detail.html">
      <div class="detail_wrap" >
        <div class="data_wrap" >
          <div class="info_wrap">
            <h1>{{ country_data.countryName }}</h1>
            <div class="intro_wrap_table">
              <div class="info_headings">
                <strong>Population of Country:</strong>
              </div>
              <div class="info_data">{{ country_data.countryName }}</div><br />
              <div class="info_headings">
                <strong>Area:</strong> 
              </div>
              <div class="info_data">{{ country_data.areaInSqKm }}km</div><br />
              <div class="info_headings">
                <strong>Capital:</strong>
              </div>
              <div class="info_data">{{ country_data.capital }}</div><br />
              <div class="info_headings">
                <strong>Population of Capital:</strong>
              </div>
              <div class="info_data">{{ country_data.population }}</div><br />
              <div class="info_headings">
                <strong>3 neighbors:</strong>
              </div>
              <div class="info_data" ng-repeat="item in neighbours_list | limitTo: 3">{{ item.name }}</div>
              <div class="info_data" ng-show="notApplicable">Not Applicable</div>
          </div>
          <div class="image_wrap">
            <div class="country_wrap map_wrap">
              <img ng-src="http://www.geonames.org/img/country/250/{{ country_data.countryCode }}.png" alt="" />
            </div>
            <div class="flag_wrap">
              <img id="flag" src="http://www.geonames.org/flags/x/{{ country_data.countryCode | lowercase }}.gif" alt="" />
            </div>
          </div>
        </div> <!-- end of data_wrap -->
        <div class="button_wrap">
          <a href="#/home"><button>Home</button></a>
          <a href="#/list"><button>Browse Countries</button></a>
        </div>
      </div><!-- end of detail_wrap -->
    </script>
  </body>
</html>