<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-controller="ctrl">
<head>
  <meta charset="UTF-8">
  <title>Countries &amp; Capitals</title>
  <style>
body { font-family: "Arial", sans-serif; }
header { border-bottom: 1px solid #000; text-align: center; padding-bottom: 20px; padding-top: 10px; }
#heading { font-size: 40px; font-weight: bold; }
nav ul li { list-style-type: none; }
.view_wrap { margin: 0 auto; width: 800px; }
.intro_wrap { width: 400px; margin: 0 auto; padding-top: 50px; }
.button_wrap { margin-top: 50px; text-align: center; }
.country_wrap { padding-top: 30px; }
.data_wrap { margin-bottom: 40px; }
.country { width: 800px; }
#flag { width: 70%;}
.image_wrap { width: 100%; }
.map_wrap, .flag_wrap { width: 40%; display: inline-block;}
table { width: 100%; border-collapse: collapse; }
thead { border-bottom: 2px solid #000; background-color: #eee; }
td { text-align: center; } 
tr { height: 30px; }
tbody tr:hover { background-color: #ccc; color: white; cursor: pointer; }
footer { margin: 0 auto; position: absolute; bottom: 10px; left: 45%; text-align: center; }
  </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
  <script>
var demo = angular.module('demo', ['ngRoute'])
demo.config(['$routeProvider', function($routeProvider){
            $routeProvider.when('/', {
              templateUrl: 'home.html',
              controller: 'ctrl'
            })
            .when('/home', {
              templateUrl: 'home.html',
              controller: 'ctrl'
            })
            .when('/list', {
              templateUrl: 'countries.html',
              controller: 'ctrl'
            })
            .when('/detail', {
              templateUrl: 'detail.html',
              controller: 'ctrl'
            })
            .otherwise('/error',  {
              template: '<p>Error - Page Not Found</p>'
            });
}]) // end of promises and routes

demo.factory('list', function($http){
            return function(){
              return $http ({ 
                cache: true,
                method: 'JSONP', 
                url: 'http://api.geonames.org/countryInfoJSON?username=mse2335',
                params: {callback: 'JSON_CALLBACK'}
              })
            };
}); // end of list

/* demo.factory('search', function($http){
            return function(countryCode){
              return $http ({ 
                cache: true,
                method: 'JSONP', 
                url: 'http://api.geonames.org/countryInfoJSON?username=mse2335',
                params: {
                  callback: 'JSON_CALLBACK', 
                  country: countryCode,
                  q: city,
                  name_equals: city,
                  isNameRequired: true,
                  maxRows: 1
                }
              })
            };
}); // end of search

demo.factory('neighbors', function($http){
            return function(countryCode){
              return $http ({ 
                cache: true,
                method: 'JSONP', 
                url: 'http://api.geonames.org/neighboursJSON?country=' + countryCode + '&username=mse2335',
                params: {callback: 'JSON_CALLBACK'}
              })
            };
}); // end of search

*/

// end of factories

demo.controller('ctrl', ['$scope', '$route', '$http', 'list', function($scope, $route, $http, list){
          $scope.country_list = [];
          $scope.flag = '';
          $scope.map = '';
          $scope.detail_list = [];

        list().success(function(data) {
              console.log(data);
              $scope.country_list = data['geonames'];
              console.log($scope.country_list);
            })
            .error(function(data) {
              console.log('Error!')
        }); //  end of list function

/*        search().success(function(data) {
              console.log(data);
              $scope.country_list = data['geonames'];
              console.log($scope.country_list);
            })
            .error(function(data) {
              console.log('Error!')
        }); // end of search function

        neighbors().success(function(data) {
              console.log(data);
              $scope.country_list = data['geonames'];
              console.log($scope.country_list);
            })
            .error(function(data) {
              console.log('Error!')
        }); // end of neighbors function
*/

}]) /// ctrl
  </script>
</head>
<body>
  <header>
    <span id="heading">Countries &amp; Capitals</span>
  </header>
  <!--<nav>
      <a href="#/home"><li>Home</li></a>
      <a href="#/list"><li>List</li></a>
      <a href="#/detail"><li>Detail</li></a>
  </nav>-->
  <section>
    <div ng-view class="view_wrap"></div>

    <script type="text/ng-template" id="home.html">
    <div class="intro_wrap">
      <p class="intro">Welcome to the Countries &amp; Capitals App! Here you can learn more about each one and pull data from geonames.com. Click the button below to get started.</p>
      <div class="button_wrap">
        <a href="#/list"><button ng-click="list()">Browse Countries</button></a>
      </div>
    </div>
    </script>
    <script type="text/ng-template" id="countries.html">
      <div class="country_wrap" ng-controller="ctrl">
        <div class="country">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Country Code</th>
                <th>Capital</th>
                <th>Area in km<sup>2</sup></th>
                <th>Population</th>
                <th>Continent</th>
              </tr>
            </thead>
            <tbody>
              
                <tr ng-repeat="item in country_list">
                  <td><a href="#/detail">{{ item.countryName }}</a></td>
                  <td>{{ item.countryCode }}</td>
                  <td>{{ item.capital }}</td>
                  <td>{{ item.areaInSqKm }}</td>
                  <td>{{ item.population }}</td>
                  <td>{{ item.continent }}</td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="button_wrap">
          <a href="#/home"><button>Home</button></a>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="detail.html">
      <div class="detail_wrap" >
        <div class="data_wrap" ng-repeat="item in country_list | limitTo: 1">
          <div class="info_wrap">
          <h1>{{ item.countryName }}</h1>
            <table class="intro_wrap_table">
              <tbody>
                <tr>
                  <td>Population of Country: </td><td>{{ item.countryName }}</td>
                </tr>
                <tr>
                  <td>Area: </td><td>{{ item.areaInSqKm }}km</td>
                </tr>
                <tr>
                  <td>Capital: </td><td>{{ item.capital }}</td>
                </tr>
                <tr>
                  <td>Population of Capital: </td><td>{{ item.population }}</td>
                </tr>
                <tr>
                  <td>3 neighbors: </td><td>{{ item.neighbours }}</td>
                </tr>
              </tbody>
            </table>
            <div class="image_wrap">
              <div class="country_wrap map_wrap">
                <img src="http://www.geonames.org/img/country/250/{{ item.countryCode }}.png" alt="" />
              </div>
              <div class="flag_wrap">
                <img id='flag' src="http://www.geonames.org/flags/x/{{ item.countryCode | lowercase }}.gif" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="button_wrap">
          <a href="#/home"><button>Home</button></a>
          <a href="#/list"><button>Broswe Countries</button></a>
        </div>
      </div>
    </script>
  </section>

  <footer>
    <p>&copy;2016 ME Innovation</p>
  </footer>
</body>
</html>