body { margin: 0; padding: 0; }
header { text-align: center; padding-top: 10px; }
#heading { font-size: 60px; font-weight: bold; }
nav ul li { list-style-type: none; }
.page_wrap { margin-bottom: 84px;  }
.background_wrap { background-color: #FFF3E0; background-size: cover; color: #3E2723; z-index: -1; position: fixed; top: 0; left: 0; right: 0; bottom: 0;}
.content_wrap { font-family: 'Montserrat', sans-serif; text-align: center; }
.view_wrap { margin: 0 auto; width: 800px; z-index: 1000; }
.intro_wrap { width: 400px; margin: 0 auto; padding-top: 50px; }
.intro_wrap_table { text-align: left; }
.intro { margin: 50px 20px; }
.button_wrap { text-align: center; margin-top: 40px; margin-bottom: 40px; }
.country_wrap { padding-top: 20px; }
.data_wrap { margin-bottom: 20px; }
.country { width: 800px; }
#flag { width: 70%; }
.image_wrap { width: 100%; }
.info_headings { margin-top: 10px; font-weight: bold; font-size: 20px; color: #795548; }
.info_data, .info_headings { display: inline-block; }
.info_data { margin-left: 30px; color: #A1887F; float: right; margin-top: 10px; }
.map_wrap, .flag_wrap { width: 40%; display: inline-block; }
.view-animation.ng-enter,.animate-view.ng-leave { transition:1s linear all; }
.view-animation.ng-enter { opacity: 0; }
.view-animation.ng-enter.ng-enter-active { opacity: 1; }
.view-animation.ng-leave { opacity: 1; }
.view-animation.ng-leave.ng-leave-active { opacity: 0; }
table { width: 100%; border-collapse: collapse; }
.country th { width: 10%; }
h1 { font-size: 40px; margin-bottom: 0; margin-top: 40px; color: #90A4AE; }
a { color: #90A4AE; text-decoration: none; font-weight: bold; }
td a:hover { color: white; }
button { background-color: #A1887F; color: #3E2723; padding: 10px; border: none; font-weight: bold; font-family: 'Montserrat', sans-serif; cursor: pointer; }
button:hover { background-color: #3E2723; color: #A1887F; }
thead { border-bottom: 2px solid #000; background-color: #3E2723; color: #FFF3E0; font-weight: normal; }
tr { height: 30px; }
tbody tr:hover { background-color: #A1887F; color: white; cursor: pointer; }
footer { position: fixed; bottom: 0; left: 0; background-color: #3E2723; color: #FFF3E0; width: 100%; }

@media (max-width: 799px) {
  #heading { font-size: 30px; font-weight: bold; }
  h1 { font-size: 25px; }
  #flag { width: 40%; }
  .view_wrap, .intro_wrap, .country, .detail_wrap { width: 100%; }
  .map_wrap, .flag_wrap { width: 100%; display: inline-block; }
  .hide, br { display: none; }
  .long_entry { padding: 10px; }
  .info_data { margin-left: 0; float: none; margin-top: 0; }
  .info_data, .info_headings { display: block; }
  .info_headings { font-size: 18px; }
  footer, .intro_wrap_table { text-align: center;  }
  
}

@media (max-height: 600px) {
  footer { display: none; }
}